{% extends 'base.html' %}
{% block content %}

<h1>Edit <span id="dates-italic">{{ activity.activity }}</span></h1>
<div id="trip-form-card">
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_p }}
    </table>
    <input type="submit" value="Update Activity" class="waves-effect waves-light btn" id="btn">&nbsp;&nbsp;
    <a class="waves-effect waves-light btn" id="btn" href="{% url 'activities_delete' activity.id %}">Delete Activity</a>
    <br><br>
  </form>
</div>

{% endblock %}