{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h1>Edit Trip</h1>
  
{% else %}
  <h1>Add Trip</h1>

{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input class="waves-effect waves-light btn" id="btn" type="submit" value="Submit!">
  </form>

<script>
  const dateEl = document.getElementById('id_start');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  const endEl = document.getElementById('id_end');
  M.Datepicker.init(endEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

</script>



{% endblock %}