{% extends 'base.html' %}
{% block content %}

{% if object %}
  <form action="" method="POST">
    {% csrf_token %}
      <label>Name your trip:</label>
      <input type="text" name="name" value="{{ trip.name }}">
      <label>List your destinations:</label>
      <input type="text" name="destinations"value="{{ trip.destinations }}">
      <label>Start Date:</label>
      <input type="date" name="start" id="" value="{{ trip.start }}">
      <label>End Date:</label>
      <input type="date" name="end" id="" value="{{ trip.end }}">
    <input type="submit" value="Submit!" class="btn">
</form>

{% else %}
  <h1>Add Trip</h1>
<form action="" method="POST">
  {% csrf_token %}
  <label>Name your trip:</label>
  <input type="text" name="name">
  <label>List your destinations:</label>
  <input type="text" name="destinations">
  <label>Start Date:</label>
  <input type="date" name="start" id="" >
  <label>End Date:</label>
  <input type="date" name="end" id="" >
  <input type="submit" value="Submit!" class="btn">
</form>
{% endif %}


{% endblock %}