{% extends 'base.html' %}
{% block content %}

<section id="trip-details">
    <div class="row">
        <div class="col s6">
            <div class="card" id="trip-details-card">
                <div class="card-content" >
                    <span id="labels" class="card-title">{{ trip.name }}</span>
                    <div id="dates-italic">{{ trip.start }} - {{ trip.end }}</div>
                    <div><span id="labels"> Destination: </span>{{ trip.destinations }}</div>
                    <div><span id="labels">Accommodation:</span> {{ trip.accommodation }}</div>
                    <div><span id="labels">Notes:</span> {{ trip.notes }}</div>
                </div>
                <div class="card-action">
                    <a href="{% url 'trips_update' trip.id %}" id="card-actions">Update</a> &nbsp&nbsp
                    <a href="{% url 'trips_delete' trip.id %}" id="card-actions">Delete</a> &nbsp&nbsp
                </div>
            </div>
        </div>
        <div class="col s6">
            <form action="{% url 'add_activity' trip.id %}" method="POST">
                <div class="form-group">
                    {% csrf_token %}
                    <table>
                        {{ activity_form.as_p }}
                    </table>
                </div>
                <br>
                <button class="waves-effect waves-light btn" id="btn" type="submit">Add Activity</button>
            </form>
            <br>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date </th>
                        <th>Time </th>
                        <th>Activity</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in trip.activity_set.all %}
                    <tr>
                        <td>{{activity.a_date}}</td>
                        <td>{{activity.a_time}}</td>
                        <td>{{activity.activity}}</td>
                        <td>{{activity.notes}}</td>
                        <td><a href="{% url 'activities_update' activity.id %}" id="card-actions">UPDATE</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    const aDateEl = document.getElementById('id_a_date');
    M.Datepicker.init(aDateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    const aTimeEl = document.getElementById('id_a_time');
      M.Timepicker.init(aTimeEl, {
      format: '00:00',
      autoClose: true
    });
</script>

{% endblock %}