{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Next Stop</title>
    <link rel="icon" href="https://i.imgur.com/Vw5qWcd.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="navbar-fixed">
        <nav class="nav-bar">
            <div class="nav-wrapper">
                <a id="brand" href="{% url 'home' %}">Next Stop</a>
                <ul class="right">
                    <li><a href="{% url 'destinations' %}">Find New Destination</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">All My Trips</a></li>
                    <li><a href="{% url 'trips_create' %}">Add New Trip</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="page-footer">All Rights Reserved, &copy; 2022 POPs &nbsp;</div>
    </footer>
</body>
</html>