{% extends 'base.html' %}
{% block content %}

<h1>Find a Destination</h1>

<form action="{% url 'destinations_search' %}" method="GET">
    <input type="submit" value="Find Destination">
</form>



<h4>{{ data.data.attributes.name }}</h4>
{% for slug in slugs %}
    <h5>{{ slug }}</h5>
{% endfor %}
<h5>Languages: {{ data.data.attributes.languages }}</h5>
<h5>Population: {{ data.data.attributes.population }}</h5>
<h5>Average Visitor Rating: {{ data.data.attributes.average_rating }}</h5>
<h5>Safety Rating: {{ safetyRating }}</h5>
<h5>COVID Rating: {{ covidRating }}</h5>
<h5>$$$: {{ text }}</h5>
<img src='{{ photo }}'> 



{% endblock %}