{% extends 'base.html' %}
{% block content %}

<h1>Find a Destination</h1>

<section id="destination-page">
  <form class="waves-effect waves-light btn" id="btn" action="{% url 'destinations_search' %}" method="GET">
    <input id="btn" type="submit" value="Find Destination">
  </form>
  {% if data %}
    <div class="row">
      <div class="col 6">     
        <div class="card">
          <div class="card-image">
            <img src="{{ photos }}" alt="photo">
          </div>
          <div class="card-content">
            <h5>{{ data.data.attributes.name }}</h5>
            <p>Population: {{ data.data.attributes.population }}</p>
            <p>Average Visitor Rating: {{ avgRatingCond }}</p>
            <p>Safety Rating: {{ safetyRating }}</p>
            <p>COVID Rating: {{ covidRating }}</p>
            <p>$$$: {{ text }}</p>
            <p>Known For:<br>
              {% for slug in slugs %}
              {{ slug }}<img src='https://cdn.roadgoat.com/images/shared/icons/known-for/{{ slug }}-48.png'>
              {% endfor %}
            </p>
          </div>
        </div>
        {% else %}
        {% endif %}
      </div>
    </div>
</section>

{% endblock %}