* {
  font-family: 'Lato', sans-serif;
}

main {
  flex: 1 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffe3d8;
}

#btn {
  color: white;
  width: 220px;
  text-align: center;
  margin: 0;
  border-bottom: none !important;
  box-shadow: none !important;
}

.btn {
  background-color: #eeb395;
  padding: 0;
}

.btn:hover {
  background-color: #455a64;
} 

.input-field  input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

.active {
  border-bottom: #eeb395;
}

.input-field {
  width: 200px;
}

.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #455a64;
}

.card {
  justify-content: center;
  display: flex;
  flex-direction: column 2;
}

#labels {
  font-weight: bold;
}

p {
  font-weight: bold;
}

#labels {
  font: bold;
}

/* Nav Bar */
a {
  color: #455a64;
}

a:hover {
  color: #ffab40;
}

.nav-bar {
  background-color: #455a64;
}

#brand {
  margin-left: 2vmin;
}

#brand-icon {
  margin-top: 9px;
}

/* Home Page */

.home-Ps {
  font-weight: normal;
  text-align: center;
  margin-top: -7px;
}

h6, h2 {
  text-align: center;
}

.home-page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Destinations Page */

#destination-page {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Trips Index Page */

#tripsIdx {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column 2;
  align-items: center;
}

/* Date/Time Pickers */

.datepicker-date-display, .datepicker-weekday-display {
  background-color: #455a64;
}

.datepicker-cancel, .datepicker-clear, .datepicker-done {
  color: #ffab40;
}

.datepicker-table td.is-today {
  color: #eeb395;
}
 
.datepicker-table td.is-selected {
  background-color: #eeb395;
  color: #fff;
}

.timepicker-canvas line {
  stroke: #eeb395;
}

.timepicker-canvas-bg, 
.timepicker-canvas-bearing {
    fill: #eeb395;
}

.timepicker-plate {
  background-color: #ffe3d8;
}

.timepicker-digital-display {
  background-color: #455a64;
}

.timepicker-close {
  color: #ffab40;
}

.timepicker-tick:hover {
  background-color: #eeb395;
}

input:focus {
  border-bottom: 1px solid #ffab40 !important;
  box-shadow: 0 1px 0 0 #ffab40 !important;
}

/* Trip Details Page */

#dates-italic {
  font-style: italic;
}

#card-actions {
  color: #ffab40;
}

#trip-details {
  margin-top: 30px;
}

#trip-details-card {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#trip-form-card {
  background-color: white;
  margin: auto;
  padding: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 80vh;
}


