* {
  font-family: 'Lato', sans-serif;
}

main {
  flex: 1 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  background-color: #455a64;
}

#brand {
  margin-left: 2vmin;
}

#btn {
  background-color: #eeb395;
  color: white;
}

#destination-page {
  justify-content: center;
}

.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: #455a64;
}
